{% extends "base.html" %}
{% block content %}
    <div class="container card" style="width: 15%;">
        <img src="https://cdn-icons-png.flaticon.com/512/4185/4185389.png" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title"> {{ plant.title }} </h5>
            <h6 class="card-subtitle mb-2 text-muted">id {{ plant.id }}</h6>
            <p class="card-text">Location: {{ plant.location }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Employee work at plant:
                {% for employee in employees %}
                    <h5 class="card-title"> {{ employee.first_name }} {{ employee.last_name }} </h5>
                    <h6 class="card-subtitle mb-2 text-muted">id: {{ employee.id }}</h6>
                {% endfor %}
            </li>
        </ul>
    </div>
{% endblock %}